/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

// 定義自定義顏色
$primaryColor = #007bff
$successColor = #28a745
$warningColor = #ffc107
$dangerColor = #dc3545

/* // 定義自定義圖片大小 */
/* & img[src$="=200x200"] */
/*   width: 200px */
/*   height: 200px */

/* // 定義 markdown-it-imsize 自定義大小屬性 */
/* & img */
/*   max-width: 100% */
/*   height: auto */
/*   width: auto */
/*   margin: 0 auto */
/*   display: block */
